.overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-loader-bg);
  background-color: black;
  transition: opacity 0.5s ease-out;
}

.overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.overlay.visible {
  opacity: 1;
  pointer-events: auto;
}

.progressBarContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: conic-gradient(
    from 0deg,
    red,
    #ff9a00 10%,
    #d0de21,
    #4fdc4a,
    #3fdad8,
    #2fc9e2,
    #1c7fee,
    #5f15f2,
    #ba0cf8,
    #fb07d9 90%,
    red
  );
  mask: conic-gradient(#000 var(--progress), transparent 0);
  -webkit-mask: conic-gradient(#000 var(--progress), transparent 0);
}
